<article class="card-container">
    <div class="card-title-icon">
        <h4 class="card-title">{{ card-title }}</h4>
        <img src="/img/users.svg" width="20" height="20">
    </div>

    <div class="card-count-license">
        <p class="card-amount-data">{{ count-data }}</p>
        <p class="card-sub-text">{{ card-subtext }}</p>
    </div>
</article>









