<button type="submit" class="edit-button">
    {% comment %} <img src="/img/edit-icon.svg" width="20" height="20" alt=""> {% endcomment %}
     <svg class="svg-item" width="15" height="15" viewBox="0 0 42 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect class="long" x="5.66498" y="33.7646" width="39.0422" height="6.82578" transform="rotate(-48.0415 5.66498 33.7646)" />
        <rect class="top" x="33" y="3.57178" width="4.80318" height="6.92394" transform="rotate(-48.0415 33 3.57178)" />
        <path class="bottom" d="M3 41.5L4.5667 34.7513L9.62793 39.4824L3 41.5Z"/>
    </svg>
    {{ button-text }}
</button>



