<div class="education-course-card">
    <div class="education-course-card-content-container">
        <h5 class="education-course-card-title">{{ education-course-name }}</h5>
        <p class="education-course-card-subtitle">{{ education-course-subtitle }}</p>
    </div>
    
    <img src="/img/education-icon.svg" width="50" height="50" alt="">
</div>