<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/basic-styles.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/detail.css">
    <link rel="stylesheet" href="/styles/opleidingen.css">



        <link rel="stylesheet" href="/styles/back-button.css">
        <link rel="stylesheet" href="/styles/card.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/class-card.css">
        <link rel="stylesheet" href="/styles/card-button.css">
        <link rel="stylesheet" href="/styles/switch-buttons.css">
        <link rel="stylesheet" href="/styles/navbar.css">
        <link rel="stylesheet" href="/styles/student-card.css">
        <link rel="stylesheet" href="/styles/profile-card.css">
        <link rel="stylesheet" href="/styles/big-statistics-button.css">
        <link rel="stylesheet" href="/styles/education-course-card.css">
        <link rel="stylesheet" href="/styles/edit-button.css">
        <link rel="stylesheet" href="/styles/submit-button.css">
        <link rel="stylesheet" href="/styles/successtate.css">
        <link rel="stylesheet" href="/styles/table-chart.css">












    <title>LMS</title>
  </head>
<body> 
