<section class="profile-card">
    <img src="/img/profile-placeholder.svg" width="45" height="45" alt="">

    <div class="profile-data">
        <h3 class="profile-class h4">{{ class-name }}</h3>
        <p class="profile-name">
            <img src="/img/user.svg" width="20" height="20" alt="">
            {{ name }}
        </p>
        <p hidden class="class-id">{{ class-id }}</p>
    </div>    
</section>