.back-href {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--general-font);
    color: var(--font-headers-primary);
}

a {
    all: unset;
}