.card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* width: 17rem; */
    width: min(17rem, 18rem);
    border: var(--border);
    padding: 2rem;
    border-radius: 0.4rem;
    box-shadow: var(--shadow);

}

.card-title-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;

    img {
        margin-left: auto;
    }
}

.card-count-license {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .card-amount-data {
        font-size: x-large;
    }
}