.class-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
    border: var(--border);
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: var(--shadow);
}

.class-card-text {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.name {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;
    }


.loader-card-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    margin-left: auto;
}

.card-container-button {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}



















