.edit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border: none;
    background-color: var(--achtergrond);
    border-radius: 0.4rem;
    border: var(--border);
    padding: 0.5rem;
    font-family: var(--general-font);
    font-size: 100;
    box-shadow: var(--shadow);
    cursor: pointer;
    height: fit-content;
}

.edit-button svg {
    transition: transform 0.4s ease-in-out;
}

.edit-button:hover svg {
    transform: rotate(360deg);
    color: #000000;
}

.svg-item {
    & .long {
        fill: #000000;
    }

    & .top {
        fill: #000000;
    }

    & .bottom {
        fill: #000000;

    }
}

.edit-button:hover svg {
    .long {
        fill: #cf950d;
    }

    & .top {
        fill: #cf2a27;
    }

    & .bottom {
        fill: #6e6565;
    }
}