.student-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    .student-name {
        font-weight: 400;
        color: var(--color-black);
        font-family: var(--general-font);
        font-size: clamp(0.700rem, 2vw, 1rem);
    }
}