.table-container {
    display: block;
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: 0.4rem;
    border: var(--border);
}

.table {
    font-family: var(--general-font);
    width: 100%;
}

.table caption {
    caption-side: top;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.5rem 0;
    color: var(--color-black);
    font-family: var(--general-font);
}

.table thead {
    background-color: var(--color-disabled);
    color: var(--color-black);
}

.table th,
.table td {
    padding: 0.45rem;
    text-align: left;
}

.table tbody tr:nth-child(even) {
    background-color: var(--color-disabled);
}

.table tbody tr:hover {
    background-color: #2A9D90;
}

/* voor als js er niet is komt de table tevoorschijn anders wel chart en geen table */
.chart-container {
    display: none;
}

.javascript .chart-container {
    display: block;
}

.javascript .table-container {
    display: none;
}

/* voor chart en table switchen met checkbox butootn */
.chart-container {
    display: block;
}

.table-container {
    display: none;
}

.chart-toggle-checkbox:checked~.chart-container {
    position: absolute;
    left: -9999em;
}

.chart-toggle-checkbox:checked~.table-container {
    display: block;
}

/* de toggle button voor switchen naar chart / table werkt nog niet met toetsenbord */
.chart-toggle-checkbox:focus + label.checkbox-label {
    outline: solid 0.7px var(--primair);
}

.checkbox-label {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: var(--color-black);
    border-radius: 0.4rem;
    display: inline-block;
    margin-bottom: 1rem;
    width: fit-content;
    background-color: var(--color-disabled);
    font-size: smaller;

    &:hover {
        box-shadow: var(--shadow);
    }
}

.chart-toggle-checkbox:checked+label.checkbox-label {
    background-color: var(--color-muted);
    color: white;
}

