.table-container {
    display: block;
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: 0.4rem;
    border: var(--border);
}

.table {
    font-family: var(--general-font);
    width: 100%;
}

.table caption {
    visibility: hidden;
}

.table thead {
    background-color: var(--color-disabled);
    color: var(--black);
}
        
.table th,
.table td {
    padding: 0.7rem;
    text-align: left;
}

.table tbody tr:nth-child(even) {
    background-color: var(--color-disabled);
}

.table tbody tr:hover {
    background-color: #2A9D90;
}

/* voor als js er niet is komt de table tevoorschijn anders wel chart en geen table */
.chart-container {
    display: none;
}

.javascript .chart-container {
    display: block;
}

.javascript .table-container {
    display: none;
}



/* voor chart en table switchen */



.button-chart-table {
    border: 1px solid black;
}

.checkbox-label::before {
    content: "Chart";

}

#chart-button:checked +label.checkbox-label::after {
    content: "Tabel";
}

#chart-button {
    display: none;
}

#chart-button:checked+label.checkbox-label {
    background-color: #2A9D90;
}

.checkbox-label {
    background-color: green;
    border: 2px solid black;
    padding: 0.3rem;
}